p{
    font-size: 1.2rem;
}
h1, h2, h3, h4{
    margin-top: 0;
    margin-bottom: 1rem;
}
.wrapper-fluid {
  width: 100%;
}
.site-hero-section img {
  height: 45rem;
  object-fit: cover;
}
.site-hero-section {
  position: relative;
}
.hero-section-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 500px;
}
.site-title-big{
    font-size: 4rem;
    line-height: 1.2;
}
.text-center{
    text-align: center !important;
}
.section-button{
    background-color: #000;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
}